#version=CENTOS73_20170314

# Action
    install

# System authorization information
    auth --enableshadow --passalgo=sha512

# Use network installation
    url --url="http://mirror.centos.org/centos/7/os/x86_64/"

# EPEL repo
    repo --name="EPEL" --baseurl="http://dl.fedoraproject.org/pub/epel/beta/7/x86_64"

# Run the Setup Agent on first boot
    firstboot --enable
    # ignoredisk --only-use=sda

# Accept Eula
    eula --agreed  

# Keyboard layouts
    keyboard --vckeymap=us --xlayouts='us'

# System language
    lang en_US.UTF-8

# Network information
    network --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
    network --hostname=centos7.test.local

# System timezone
    timezone America/Denver --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org

# Root password
    rootpw --iscrypted $6$QyC3Rc7kt371rja5$YFPmkoHezQZIFt15qWXqPba/vut3pxhxNgHtLeMeT/IRQUeOSRhVu2onCGXQrXybuDm345va5aGyhzVHMJhUg.

# Create users
    user --groups=wheel --name=jnmitch --password=$6$WUiBzZajuuKBCXmn$gEkmVHiN/n3mtqpFiiIuEfSI209yM6pBvYrHzU7/Sn4jXtaS/xjE96xZgGahrh9Ipy5QucluAG9xqlqXWYd0Y. --iscrypted --gecos="Jeff Mitchell"

# System bootloader configuration
    bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
    autopart --type=lvm

# Partition clearing information
    clearpart --none --initlabel

# Selinux State
    # selinux --permissive

# Packages
    %packages
        @^minimal
        @core
        chrony
        kexec-tools
    %end

# System services
    # services --disabled="chronyd"
    # --enabled=NetworkManager,sshd,chronyd
    services --enabled=sshd,chronyd

# Addons
    %addon 
        com_redhat_kdump --enable --reserve-mb='auto'
    %end

# Anaconda
    %anaconda
        pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
        pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
        pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
    %end

# %include /path/to/file 
# %include <url>

# Reboot afer installation
    reboot
